body {
  background: #fff;
  color: #666;
  font-size: 120%;
}

div#content {
  width: 800px;
}

strong {
  font-size: 125%;
}

a, a:visited {
  background: #fff;
  color: #0000ff;
}

a:hover {
  background: #0000ff;
  color: #fff;
  font-weight:bold;
}
